.example-container {
  width: 25%;
  height: 100%;
  border-top-right-radius: 10px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  border: none;
}
