<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="../../../assets/Spotify_Full_Logo_RGB_White.png" alt="" />
      <h1>Welcome to Spotify</h1>
      <h3>
        Elevate Your Sound: Discover, Stream, and Immerse in a World of Music.
      </h3>
      <h4>Music for everyone</h4>
      <p>
        Unleash your musical journey with our unparalleled library, a treasure
        trove of millions of tracks spanning every genre and era. From iconic
        masterpieces to the freshest hits, immerse yourself in an exquisite
        selection curated just for you. Let our intelligent recommendations
        guide you through a symphony of sound, transforming every moment into a
        melodic experience like no other.
      </p>
      <a [href]="loginURL" mat-raised-button>Click here to login</a>
    </div>
  </div>
</div>
