html {
  background-image: url(../../../assets/vecteezy_earth-day-background-green-color-abstract-shapes-waves-and_22633264.jpg);
}
.container {
  text-align: center;
}

.container .row div h1 {
  color: white;
  font-style: italic;
}
.container .row div img {
  margin: 4%;
  max-width: 65%;
}

.container .row div h3 {
  color: white;
}
.container .row div h4 {
  color: white;
  font-style: italic;
}

.container .row div p {
  color: white;
}

.container .row div a {
  background-color: white;
  color: black;
  font-style: italic;
}
