mat-drawer-container {
  width: 50%;
  height: 100%;
}

.sidenav-content {
  height: 100%;
  justify-content: center;
}

mat-drawer-container .sidenav-content img {
  width: 100%;
  max-height: fit-content;
  padding: 20px;
}

mat-drawer-container {
  background-color: #494949;
}

mat-drawer-container .sidenav-content button {
  width: 100%;
  margin: 15px 0px;
}
.example-sidenav {
  padding: 20px;
}
.spacer {
  flex: 1 1 auto;
}

mat-toolbar button {
  width: fit-content;
}
mat-toolbar button img {
  width: auto;
}

mat-drawer-container mat-drawer {
  width: 40%;
}

mat-drawer-container mat-drawer .sidenav-content .container h1 {
  text-align: center;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}
.example-card1 {
  max-width: 50%;
  margin-bottom: 8px;
}

.example-header-image {
  background-size: cover;
}

:host ::ng-deep mat-grid-list .first .mat-grid-tile-content:first-of-type {
  align-items: start;
  padding-top: 25%;
}

:host ::ng-deep mat-grid-list .second .mat-grid-tile-content:first-of-type {
  align-items: start;
}

:host ::ng-deep mat-grid-list .third .mat-grid-tile-content:first-of-type {
  align-items: start;
}
