<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon"
    aria-label="Example icon-button with menu icon"
  >
    <img src="../../../assets/Spotify_Full_Logo_RGB_White.png" alt="" />
  </button>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <div class="sidenav-content">
      <div class="container">
        <h1>Hi, {{ userDetails?.display_name }}</h1>
        <br />
        <button mat-button (click)="reload()">Home</button>
        <button mat-button [routerLink]="'/myprofile'">Your account</button>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container> -->

<div class="container">
  <h1 style="text-align: center; color: white; font-style: italic">
    New Releases
  </h1>
  <br />
  <div class="row">
    <div class="col-md-3" *ngFor="let album of newReleases?.albums?.items">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title
            style="color: white; font-style: italic; font-size: 15px"
            >{{ album?.name }}</mat-card-title
          >
          <mat-card-subtitle
            >Total Tracks: {{ album?.total_tracks }}</mat-card-subtitle
          >
        </mat-card-header>
        <img
          mat-card-image
          [src]="album.images[0].url"
          style="margin: 10px; max-width: 300px"
        />
        <mat-card-content>
          <h5 style="text-align: center; color: white">Artists</h5>
          <ul>
            <li *ngFor="let artist of album.artists" style="color: white">
              {{ artist?.name }}
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog(album)">View Songs</button>
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
  </div>
</div>
