<mat-toolbar>
  <button
    mat-icon-button
    class="icon"
    aria-label="Example icon-button with menu icon"
  >
    <img src="../../../assets/Spotify_Full_Logo_RGB_White.png" alt="" />
  </button>
  <mat-form-field class="example-full-width" style="padding-top: 2%;">
    <mat-label>Search</mat-label>
    <input matInput placeholder="" value="" [(ngModel)]="searchInput" (keyup)="searchResults()"/>
  </mat-form-field>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
