/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #494949;
}

$custom-primary-palette: (
  50: #949494,
  100: #8e8e8e,
  200: #7e7e7e,
  300: #6e6e6e,
  400: #5e5e5e,
  500: #4e4e4e,
  600: #3e3e3e,
  700: #2e2e2e,
  800: #1e1e1e,
  900: #0e0e0e,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
  ),
);

$custom-primary: mat.define-palette($custom-primary-palette);
$custom-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-dark-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

@include mat.all-component-themes($custom-theme);
